/*#region Colors*/
/* #15202b */
/* border: 1px solid #000; */
/* 1px solid #ccd6dd; */
:root {
  --bg_hover: #1a1a1a;
  --bg_elements: #121212;
  --accent_border: #ff6c6091;
  --fg_color: #f8f8f2;
  --tetBlue: rgb(29, 161, 242);
  --tetBlueH: rgb(26, 145, 218);
  --tetBlueB: rgb(29 161 242) 0px 0px 0px 1px;
  --tetYellow: rgb(255, 173, 31);
  --tetYellowH: rgb(230, 156, 28);
  --tetYellowB: rgb(255 173 31) 0px 0px 0px 1px;
  --tetRed: rgb(224, 36, 94);
  --tetRedH: rgb(202, 32, 85);
  --tetRedB: rgb(224 36 94) 0px 0px 0px 1px;
  --tetPurple: rgb(121, 75, 196);
  --tetPurpleH: rgb(134, 93, 202);
  --tetPurpleB: rgb(121 75 196) 0px 0px 0px 1px;
  --tetOrange: rgb(244, 93, 34);
  --tetOrangeH: rgb(220, 84, 31);
  --tetOrangeB: rgb(244 93 34) 0px 0px 0px 1px;
  --tetGreen: rgb(23, 191, 99);
  --tetGreenH: rgb(21, 172, 89);
  --tetGreenB: rgb(23 191 99) 0px 0px 0px 1px;
}

.tetNitterHover {
  background-color: var(--bg_hover);
}

.tetNitter {
  background-color: transparent;
}

.tetNText {
  text-decoration: underline;
}

/* blue */
.r-urgr8i {
  background-color: var(--tetBlue);
}

.r-p1n3y5 {
  border-color: var(--tetBlue);
}

.r-13gxpu9 {
  color: var(--tetBlue);
}

.r-1q3imqu {
  background-color: var(--tetBlueH) !important;
}

.r-1bih22f {
  box-shadow: var(--tetBlueB);
}

/* yellow */
.r-1vkxrha {
  background-color: var(--tetYellow);
}

.r-v6khid {
  border-color: var(--tetYellow);
}

.r-61mi1v {
  color: var(--tetYellow);
}

.r-1kplyi6 {
  background-color: var(--tetYellowH) !important;
}

.r-cdj8wb {
  box-shadow: var(--tetYellowB);
}

/* red */
.r-1dgebii {
  background-color: var(--tetRed);
}

.r-1iofnty {
  border-color: var(--tetRed);
}

.r-daml9f {
  color: var(--tetRed);
}

.r-1ucxkr8 {
  background-color: var(--tetRedH) !important;
}

.r-jd07pc {
  box-shadow: var(--tetRed) 0px 0px 0px 1px;
}

/* purple */
.r-1qqlz1x {
  background-color: var(--tetPurple);
}

.r-njt2r9 {
  background-color: var(--tetPurpleH) !important;
}

.r-hy56xe {
  border-color: var(--tetPurple);
}

.r-11mmphe {
  box-shadow: var(--tetPurpleB);
}

.r-xfsgu1 {
  color: var(--tetPurple);
}

/* orange */
.r-18z3xeu {
  background-color: var(--tetOrange);
}

.r-1kplyi6 {
  background-color: var(--tetOrangeH) !important;
}

.r-1xl5njo {
  border-color: var(--tetOrange);
}

.r-b8m25f {
  box-shadow: var(--tetOrangeB);
}

.r-1qkqhnw {
  color: var(--tetOrange);
}

/* green */
.r-b5skir {
  background-color: var(--tetGreen);
}

.r-zx61xx {
  background-color: var(--tetGreenH) !important;
}

.r-5ctkeg {
  border-color: var(--tetGreen);
}

.r-1cqwhho {
  box-shadow: var(--tetGreenB);
}

.r-nw8l94 {
  color: var(--tetGreen);
}

.r-yfoy6g {
  background-color: #15202b;
}

.r-14lw9ot {
  background-color: white;
}

.r-kemksi {
  background-color: black;
}

.r-18jsvk2 {
  color: #0f1419;
}

.Button--primary {
  background-color: #1da1f2 !important;
  border: 1px solid #1da1f2 !important;
  color: #fff !important;
}

html.dark .mdl {
  background-color: #15202b;
}

.mdl {
  background-color: #fff;
}

/*#endregion*/
/*# sourceMappingURL=colors.css.map */

/*# sourceMappingURL=colors.css.map */
