.css-1dbjc4n {
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-basis: auto;
  -webkit-flex-direction: column;
  -webkit-flex-shrink: 0;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  min-height: 0px;
  min-width: 0px;
  position: relative;
  z-index: 0;
}
select {
  height: auto !important;
}
.r-qvutc0 {
  overflow-wrap: break-word;
}
.r-1adg3ll {
  display: block;
}
.r-u8s1d {
  position: absolute;
}
.r-1wbh5a2 {
  flex-shrink: 1;
}
.r-1ny4l3l {
  outline-style: none;
}
.r-sdzlij {
  border-radius: 9999px;
}
.r-z2wwpe {
  border-radius: 4px !important;
}
.r-rs99b7 {
  border-width: 1px;
}
.r-1moyyf3 {
  border-bottom-right-radius: 16px;
}
.r-1pp923h {
  border-bottom-left-radius: 16px;
}
.r-1mi75qu {
  box-shadow: rgb(0 0 0 / 2%) 0px 0px 2px inset;
}
.r-1mlwlqe {
  flex-basis: auto;
}
.r-1udh08x {
  overflow: hidden;
}
.r-1awozwy {
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
}
.r-1hwvwag {
  flex-basis: 48px;
}
.r-18kxxzh {
  -webkit-box-flex: 0;
  flex-grow: 0;
}
.r-1777fci {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
}
.r-1pi2tsx {
  height: 100%;
}
.r-18u37iz {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
}
.r-ipm5af {
  top: 0px;
}
.r-1ifxtd0 {
  margin-bottom: 16px;
}
.r-6gpygo {
  margin-bottom: 12px !important;
}
.r-1jgb5lz {
  margin-left: auto;
  margin-right: auto;
}
.r-1ye8kvj {
  max-width: 600px;
}
.r-16y2uox {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex-grow: 1;
}
.r-ttdzmv {
  padding-top: 12px !important;
}
.r-1iusvr4 {
  flex-basis: 0px;
}
.r-13qz1uu {
  width: 100%;
}
.r-1dye5f7 {
  padding-left: 32px;
  padding-right: 32px;
}

.r-9ilb82 {
  color: rgb(110, 118, 125);
}
.r-16dba41 {
  font-weight: 400;
}
.r-1vr29t4 {
  font-weight: 800;
}
.r-a023e6 {
  font-size: 15px;
}
.r-1qd0xha {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.r-rjixqe {
  line-height: 20px;
}
.r-1cwl3u0 {
  line-height: 16px;
}
.r-bcqeeo {
  min-width: 0px;
}
.r-q4m81j {
  text-align: center;
}
.r-zchlnj {
  right: 0px;
}
.r-1d2f490 {
  left: 0px;
}
.r-1p0dtai {
  bottom: 0px;
}
.r-13awgt0 {
  -ms-flex: 1 1 0%;
  -webkit-flex: 1;
  flex: 1;
}
.r-1b2b6em {
  line-height: 2em;
}
.r-q4m81j {
  text-align: center;
}
